<nav class="navbar navbar-expand-lg navbar-dark bg-primary"><a class="navbar-brand" href="/login">Bevásárlólista</a>
    <div class="nav-item">
        <button class="btn btn-success" hidden="" type="button">Új termék</button>
    </div>
    <div class="nav-item"><h4><span class="badge badge-dark" hidden=""></span></h4></div>
    <button aria-controls="responsive-navbar-nav" aria-label="Toggle navigation" class="navbar-toggler"
            type="button"><span class="navbar-toggler-icon"></span></button>
    <div class="justify-content-end navbar-collapse collapse" id="responsive-navbar-nav">
        <div class="navbar-nav nav-pills">
            <div class="nav-item"><a class="nav-link" data-rb-event-key="#" href="/login">Bejelentkezés</a>
            </div>
        </div>
    </div>
</nav>