<%- include('accessories/header') %>
<%- include('accessories/navbar_in') %>

        <div class="dashboard container" style="margin-top: 1em;">
            <div class="container">
                <div class="card card bg-warning text-dark">
                    <div class="cardHeaderStyle itemCard card-header">
                        <input type="checkbox">
                        <span>PopCorn</span>
                    </div>
                </div>

                <div class="card card bg-warning text-dark">
                    <div class="cardHeaderStyle itemCard card-header">
                        <input type="checkbox">
                        <span>Fagyi</span>
                    </div>
                </div>

                <div class="card card bg-warning text-dark">
                    <div class="cardHeaderStyle itemCard card-header">
                        <input type="checkbox">
                        <span>Kenyér</span>
                    </div>
                </div>
            </div>
            <hr class="divider">

        </div>
<%- include('accessories/footer') %>

