<%- include('accessories/header') %>
<%- include('accessories/navbar_in') %>


        <div class="container"><h1 style="margin-top: 1em;"> Regisztráció</h1>
            <form class="">
                <div class="form-group"><label class="form-label" for="formNickname">Felhasználónév</label><input
                        autocomplete="text"
                        class="form-control"
                        id="formNickname"
                        placeholder="Név"
                        required=""
                        type="text"><small
                        class="text-muted form-text">Ez fog megjelenni a termékek alatt</small></div>
                <div class="form-group"><label class="form-label active" for="formBasicPassword">Jelszó</label><input
                        autocomplete="password" class="form-control" id="formBasicPassword" placeholder="Enter password"
                        required="" type="password"><small class="text-muted form-text">Ezzel lesz a
                    jelszavad</small></div>
                <button class="btn btn-primary" type="submit">Regisztáció</button>
            </form>
            <div class="red-text center"></div>
        </div>
<%- include('accessories/footer') %>

