<%- include('header') %>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary"><a class="navbar-brand" href="/dashboard">Bevásárlólista</a>
            <button aria-controls="responsive-navbar-nav" aria-label="Toggle navigation" class="navbar-toggler"
                    type="button"><span class="navbar-toggler-icon"></span></button>
            <div class="justify-content-end navbar-collapse collapse" id="responsive-navbar-nav">
                <div class="navbar-nav">
                    <div class="nav-item"><a class="nav-link" data-rb-event-key="#newuser" href="/newuser"> Új
                        felhasználó felvétele</a></div>
                    <div class="nav-item"><a class="nav-link" data-rb-event-key="#signout"
                                             href="/login">Kijelentkezés</a></div>
                </div>
            </div>
        </nav>
        <div class="container"><h1 style="margin-top: 1em;"> Regisztráció</h1>
            <form class="">
                <div class="form-group"><label class="form-label" for="formNickname">Felhasználónév</label><input
                        autocomplete="text"
                        class="form-control"
                        id="formNickname"
                        placeholder="Név"
                        required=""
                        type="text"><small
                        class="text-muted form-text">Ez fog megjelenni a termékek alatt</small></div>
                <div class="form-group"><label class="form-label active" for="formBasicPassword">Jelszó</label><input
                        autocomplete="password" class="form-control" id="formBasicPassword" placeholder="Enter password"
                        required="" type="password"><small class="text-muted form-text">Ezzel lesz a
                    jelszavad</small></div>
                <button class="btn btn-primary" type="submit">Regisztáció</button>
            </form>
            <div class="red-text center"></div>
        </div>
<%- include('footer') %>

